.container1 {
  position: relative; /* create positioning context */
}
.container1 .bg-color{
    min-height: 100%;
    background: rgba(245, 232, 160, 0.49);
}

img{
    border: none;
}


#logo {
    float: left;
    margin-left: 30px;
    margin-top: -10px;
}
#stalk{
  position: absolute;
  top: -10px; 
  left: 30px;
  margin: 0; /* avoid margin conflicts *
}


#logoText {
    float: left;
    margin: 20px 0 0 70px;
    /* font styles apply to text within img alt attribute */
    font-family: 'American Typewriter', Courier, monospace;
    font-size: 50px;
    color: #333;
}